# Supabase Credentials
VITE_SUPABASE_URL="https://sbkefmonnammghplxkul.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNia2VmbW9ubmFtbWdocGx4a3VsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIxNjcxNzAsImV4cCI6MjA3Nzc0MzE3MH0.yp1puAK9QTDnkeenbRyL0lW61uqCTc_voZc7Y3YLJ4g"
